{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Главная{% endblock %} - Доска объявлений</title>
    <!--  Привязываем стили Bootstrap  -->
    {% bootstrap_css %}
    <!--  Привязываем свой Css  -->
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <!--  Привязываем веб сценарии, чтобы заработало раскрывающееся окно  -->
    {% bootstrap_javascript jquery='slim' %}
</head>
<!--  Подключаем стиль, который требует Bootstrap  -->
<body class="container-fluid">
    <!--  Выводим текст большим шрифтом и ровняем по центру  -->
    <header class="mb-4">
        <h1 class="display-1 text-center">Объявления</h1>
    </header>
    <div class="row">
        <ul class="col nav justify-content-end border">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    Регистрация
                </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    Профиль
                </a>
                <div class="dropdown-menu">
                    <a href="{% url 'main:profile' %}" class="dropdown-item">
                        Мои объявления
                    </a>
                    <a href="{% url 'main:profile_change' %}" class="dropdown-item">
                        Изменить личные данные
                    </a>
                    <a href="#" class="dropdown-item">
                        Изменить пароль
                    </a>
                    <a href="{% url 'main:logout' %}" class="dropdown-item">
                        Выйти
                    </a>
                    <a href="#" class="dropdown-item">
                        Удалить
                    </a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'main:login' %}" class="nav-link">
                    Вход
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="row">
        <nav class="col-md-auto nav flex-column border">
            <a href="{% url 'main:index' %}" class="nav-link root">
                Главная
            </a>
            <a href="{% url 'main:other' page='about' %}" class="nav-link root">
                О сайте
            </a>
            <span class="nav-link root font-weight-bold">
                Недвижимость
            </span>
            <a href="#" class="nav-link">
                Жилье
            </a>
            <a href="#" class="nav-link">
                Склады
            </a>
            <a href="#" class="nav-link">
                Гаражи
            </a>
            <span class="nav-link root font-weight-bold" href="#">
                Транспорт
            </span>
            <a href="#" class="nav-link">
                Легковой
            </a>
            <a href="#" class="nav-link">
                Грузовой
            </a>

        </nav>
        <section class="col border py-2">
            {% bootstrap_messages %}
            {% block content %}
            {% endblock %}
        </section>
    </div>
    <footer class="mt-3">
        <p class="text-right font-italic">&copy; Читатели.</p>
    </footer>
</body>
</html>